.footer {
  text-align: center;
  font-size: 80%;
}

.titulo1 {
  font-weight: bold;
}

.titulo2 {
  font-weight: bold;
  font-size: 90%;
}

.error {
  font-weight: bold;
  color: #FF0000;
  font-size: 50%;
}

.nota {
  font-weight: bold;
  color: #0000FF;
}

.login {
  font-style: italic;
}

form label {
  display: inline-block;
  width: 150px;
  font-weight: bold;
}

tr.label tr.txt {
  font-weight: bold;
  font-size: 80%;
  text-align: center;
}

td.lista {
  text-align: center;
}

img.profile {
  vertical-align: top;
}

.dato { 
  font-family: Courier, monospace; 
  font-size: 80%;
}


